.row {
    display: flex;
    flex-wrap: wrap;
 }
 
 .row > div[class*='col-'] {
   display: flex;
 }
 body{
    background-color: #00004d;
    background-repeat: no-repeat;
    background-size: 100% auto;

   }
